/* formulaire */

.valid:valid {
    border: 1px solid #00FF00;
}

/*input:invalid {
    border: 1px solid #FF0000;
}*/

.erreur{
    border: 1px solid #FF0000;
}

.sign{
	float: none;
	margin:0 auto;
	padding-top: 50px;
}

.object_ok  /* les message d'erreur pour la partie ajax*/
{
border: 0.063em solid green; 
color: #333333; 
}

.nbr_error
{
border: 0.063em solid #AC3962; 
color: #333333;

}
#ifexist  {
  color:red;
  font-size:0.80em;
  margin-left:0;
}
/*.error{
	border: 1px solid #FF0000;
}*/

